[submodule "helpers"]
	path = helpers
	url = git+ssh://git@github.com/jramapuram/helpers
[submodule "datasets"]
	path = datasets
	url = git+ssh://git@github.com/jramapuram/datasets
[submodule "models/vae"]
	path = models/vae
	url = git+ssh://git@github.com/jramapuram/vae.git
